

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    display: block;
    height: 100%;
}

body {
    font-family: 'Josefin Sans',
        sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: clamp(1rem, 1.1rem, 1.3rem);
}

input,
button,
textarea {
    border: none;
    outline: none;
}

button{
    padding: .9rem 1.7rem;

    display: flex;
    justify-content: center;
    align-items: center;


    max-width: max-content;

    font-weight: 600;
    font-size: .9rem;
}

h1 {
    font-size: calc(2.8rem + 1vw);
    max-width: 18ch;
    text-transform: uppercase;
}



p,
span {
    font-size: clamp(.8rem, 1rem, 1.1rem);
}



.reembolsable {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    padding: .5em 0;
    text-align: center;
    max-width: 0 auto;
    color: white;
    text-transform: uppercase;
    font-size: clamp(.7rem, .9rem, 1rem);
}

.contenedor-1 {
    max-width: 90vw;
    margin: 0 auto;
}