.site-header {
   
    min-height: 100vh;
    position: relative;
    &.home {
         background: linear-gradient(to right, #3164a3da 50%, #3164a350 0),
         url('/src/imgagenes/explora-1.jpg');
        background-repeat: no-repeat;
         background-size: cover;
         background-position: left;
         @media screen and(max-width: 1050px) {
             background: linear-gradient(to right, #3164a3da 50%, #3164a3da 0),
             url('/src/imgagenes/explora-1.jpg');
         }
    }

    
    &.programas {
        background-color: rgb(180, 180, 180);
         background: linear-gradient(to bottom, #00000088, #181818f8),
         url('https://images.pexels.com/photos/3193767/pexels-photo-3193767.jpeg?cs=srgb&dl=pexels-mati-mango-3193767.jpg&fm=jpg');
        @include background;
       
    }
    &.nosotros {
        background-color: $primary-dark;
    }
  


}


.site-hero {
    @include flex(column);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .site-hero-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 100vh;

        .hero-frase {
            padding:9% 3% 0 6%;
            color: $white;
            position: relative;
            z-index: 4;

        }

      
    }
}

.btn-outline {
    width: 100%;


    @include button(transparent, $white);
    border: 4px solid $white;
    max-width: 200px;
    padding: .7em 1.4em;
    text-transform: uppercase;
}