.site-main {
    background-color: $white;
    padding: calc(20px + 1vw) 0;

    .section-experiencias {
        padding: $paddingSection;

        .titulo {
            text-align: center;
            @include title;
            max-width: 20ch;
            padding: .5em 0 1em 0;

            margin: 0 auto
        }

        .cards-grid {
            display: grid;
            @include grid(3, 1.5em);

            max-width: 1280px;
            margin: 0 auto;

            @media screen and(max-width :1200px) {

                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            }
        }
    }

    .card-experiencia {
        @include flex(column);
        align-items: center;
        width: 100%;
        max-height: 1150px;
        border-radius: 500px 500px 0 0;

        &:nth-of-type(1).from-down.appear {
            transition-delay: 130ms
        }


        &:nth-of-type(2).from-down.appear {
            transition-delay: 260ms
        }


        &:nth-of-type(3).from-down.appear {
            transition-delay: 470ms
        }

        .experiencia-img {
            overflow: hidden;
            height: 650px;
            border-radius: 500px 500px 0 0;


            img {
                transition: transform .3s ease;
                width: 100%;
                object-fit: cover;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .experiencia-text {
            color: $primary-dark;

            p {
                padding: .8em 0;
                font-size: $fontNormal;
                line-height: 115%;
                font-weight: bold;
            }

            span {
                font-size: $fontNormal;
                line-height: 139%;
            }
        }
    }
}

.section-news {
    padding: $paddingBig 20px;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;

    .news-circle {
        width: 530px;
        height: 530px;
        background-color: $primary-dark;
        display: block;
        border-radius: 100%;
        position: absolute;
        right: 0;
        left: 88%;

        @media screen and(max-width: 850px) {
            display: none;
        }
    }

    .news-grid {
        display: grid;
        min-height: 100vh;
        grid-template-columns: 65% 35%;
        position: relative;

        @media screen and(max-width: 850px) {
            grid-template-columns: 1fr;

        }

        .news-text {
            h2 {
                @include title;

            }

            p {
                padding: $paddingParrafo;
               font-size: $fontNormal;
            }

            .news-img {
                img {
                    width: 100%;
                    max-width: 57vw;
                    max-height: 720px;
                    border-radius: 0% 0% 0% 90%;
                    padding: $paddingSection 0 0 0;

                    @media screen and(max-width: 850px) {
                        max-width: 100%;
                        max-height: 350px;
                    }
                }
            }

            .trabajando-desde {
                position: absolute;
                top: 59%;
                bottom: 0;
                right: 0;
                left: 38%;
                text-shadow: 3px 3px 3px $white;
                @include titleSmall;

                @media screen and(max-width: 850px) {
                    position: static;
                    padding: 1em 0;

                    h3 {
                        max-width: 25ch;
                    }

                }
            }

        }

        .news-ul {
            @include flex(column);
            align-items: flex-end;
            justify-content: flex-end;

            @media screen and(max-width: 850px) {
                align-items: flex-start;
            }

            ul {
                @include flex(column);

                gap: .8em;

                li {
                    font-size: $fontNormal;
                }

            }
        }
    }
}

.section-places {
    background: linear-gradient(to right, #00000098, #00000093),
        url(../../Imágenes/Subidas/Postlaguna.JPG);
    min-height: 100vh;
    padding: 3% 0 0 0;
    @include background;

    .places-title {
        color: $white;
        padding: 1% 0 0 0;

        h3 {
            @include title;
            color: $white
        }

        p {
            @include parrafoBig;
        }
    }

    .swiper {
        width: 100%;
        height: 100%;

        padding: 3% 0 3% 5%;

        @media screen and(max-width: 600px) {
            padding: 2% 2em;
        }
    }

    .place-card {

        &:nth-child(1) {
            transition-delay: 130ms;

            img {
                border-radius: 90px 0 0 0;
            }
        }

        &:nth-child(2) {


            img {
                border-radius: 0 0 0 90px;
            }
        }


        &:nth-child(3) {


            img {
                border-radius: 0 90px 0 0;
            }
        }

        &:nth-child(4) {


            img {
                border-radius: 0 0 90px 0;
            }
        }

        &:nth-child(5) img {
            border-radius: 90px 0 0 0;
        }

        &:nth-child(6) img {
            border-radius: 0 0 0 90px;
        }

        transition: all .5s ease;

        &:hover {
            transform: scale(1.04);
            cursor: pointer;

            .place-title {
                h4 {
                    transform: translateX(-6px) scale(1.06);

                }
            }
        }

        .place-img {
            position: relative;

            img {
                max-width: 430px;
                object-fit: cover;
                aspect-ratio: 1 / 2;
                max-height: 550px;

                @media screen and(max-width: 600px) {
                    max-width: 100%;
                    max-height: 480px;
                }
            }
        }

        .place-title {
            h4 {
                transition: all .5s ease;
                @include titleSmall;
                color: $white;
                position: absolute;
                top: 84%;
                left: -4%;

                @media screen and(max-width: 600px) {
                    right: 0;
                    top: 90%;
                    left: 2%;
                }
            }
        }

    }
}

.section-quote {
    background-color: #EDD8D8;
    padding: 3% 0;
    overflow: hidden;

    .quote-flex {
        display: flex;
        justify-content: center;
        gap: 5%;
        max-width: 85vw;
        min-height: 100vh;
        margin: 0 auto;

        @media screen and(max-width: 850px) {
            flex-direction: column;
        }

        .quote-img {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &:after {
                content: '';
                display: block;
                height: 100%;
                width: 90%;
                margin: auto;
                position: absolute;
                right: 10%;
                top: 8%;
                bottom: 0;
                border-radius: 0 0 0 40%;
                background-color: rgba(0, 0, 0, 0.781);
                max-width: 550px;
                max-height: 610px;
                background-image: url(../../Imágenes/DSCF7626.JPG);
                @include background
            }

            img {
                width: 100%;
                max-width: 550px;
                display: block;
                height: 100%;
                max-height: 600px;
                border-radius: 0% 40% 0% 40%;
                position: relative;
                z-index: 3;

            }
        }

        .quote-text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            blockquote {
                max-width: 25ch;
                color: $primary-dark;
                line-height: 1.1;
                font-weight: 900;
                font-size: 2.25rem;
            }

            span {
                align-self: flex-start;
                padding: 2em 0;
                font-weight: 600;
                font-size: $fontNormal;
            }
        }
    }
}

.box {
    transform-style: preserve-3d;
}