.site-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition: all .8s ease;
    z-index: 10;

    padding:0 6.2%;


    
    .logo {
  

        .logo-img { 
            img {
                width: 100%;
                max-width: 121px;
                filter: invert(100%);
            }
        }

        .open-btn {
            display: none;
        }
    }
    &.fixed {
        padding: 0 6.2%;

    }
    &.nav-scrolled {
       
        top: 0;
        margin: 0;
        background-color: $white;
        padding: 0 6.2%;
        box-shadow: 2px 2px 2px #00000046;
 
        .navigation-links {
            padding: 0;
            li {
                a {
                    color: black;
                }

                .btn-white {
                    color: $white;
                    background-color: $primary;
                }
            }

        }
    }

    .navigation-links {
        @include flex(row);
        justify-content: flex-end;
        align-items: center;
        flex-basis: 65%;
        padding: 1em 0;
        gap: 3.6%;

        @media screen and(max-width:850px) {
            transform: translateX(250%);
            transition: all .8s;
            transition-delay: .1s;

            &.modal {
                @include flex(column);
                align-items: flex-start;
                justify-content: flex-start;
                position: fixed;
                inset: 0;
                padding: 13%;   
                background-color: $primary;
                gap: 2em;
                li a{
                    font-weight:900;
                    text-transform: capitalize;
                }
                .close-btn {
                    align-self: flex-end;
                    justify-content: flex-end;
                    display: block;
 
                    i {
                        color: red;
                        font-size: 2rem;
                    }
                }

            }

            &.opened {
                transform: translateX(0);
            }
        }

        li {
            a {
                color: $white;
            }

            .btn-white {
                color: black;
            }
        }

    }

    @media screen and(max-width: 850px) {
        flex-direction: column;
        padding: 2em 0;

        .logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
 
            padding: 1.5em ;

            .open-btn {
                display: block;
                align-self: center;
                justify-self: flex-end;

                .bar {
                    display: block;
                    background-color: white;
                    height: 2px;
                    width: 30px;
                    margin: .5em 0;
                }
            }
        }
    }

    &.opened {
        .open-btn {

            .bar-1,
            .bar-3 {
                transition: all .3s ease;
            }

            .bar-1 {
                transform: translateY(.6em)
            }

            .bar-3 {
                transform: translateY(-.6em)
            }
        }


    }
    

}

.close-btn {
    display: none;
}
@media screen and(max-width: 850px) {
   .site-navigation {
 
        padding:  0;
   }
}
.btn-white {
    @include button($white, black);
}